@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  z-index: 10;
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.modal-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  position: relative;
  overflow: auto; /* Ensure content is scrollable */
  max-height: 90vh; /* Ensure modal doesn't exceed screen height */
}

.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #4a4a4a;
  cursor: pointer;
}

.modal-close-button:hover {
  color: #2a2a2a;
}

.custom-close-btn {
  font-size: 2.5rem;
  line-height: 1;
}


